bin
eclipse
.settings
build
.gradle
.classpath
.project
proguard
LibrariesCore.api.iml
*.iml
*.ipr
*.iws
LibrariesCore.ipr
LibrariesCore.iws
out/
1.16.5
src/main/java/ru/vizzi/Utils/test
src/main/resources/assets/librariescore/shaders
src/main/java/ru/vizzi/Utils/shader